dj-database-url==0.4.1
Django==1.9.5
django-braces==1.8.1
django-cors-headers==1.1.0
django-nested-inline==0.3.6
django-oauth-toolkit==0.10.0
gunicorn==19.4.5
oauth2-provider==0.0
oauthlib==1.0.3
six==1.10.0
whitenoise==3.0
