{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>

{{ media }}
    <script>



        $(document).ready(function($) {

    $(document).on('keypress','input[type=number]',function(event) {
  if ((event.which != 46 || $(this).val().indexOf('.') != -1) &&
    ((event.which < 48 || event.which > 57) &&
      (event.which != 0 && event.which != 8))) {
    event.preventDefault();
  }

  var text = $(this).val();

  if ((text.indexOf('.') != -1) &&
    (text.substring(text.indexOf('.')).length > 2) &&
    (event.which != 0 && event.which != 8) ) {
    event.preventDefault();
  }
});

              $('.guardarotroBTN').hide();
        });


    </script>
{% endblock %}

{% block extrastyle %}{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

    <script type="text/javascript" src="{% static "assets/js/ajax-movimientos.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/ajax-estados-municipios.js" %}"></script>
{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <div id = "regresarBTN" onclick="window.history.go(-1);"></div>
</div>
{% endblock %}
{% endif %}

{% block content %}<div id="content-main">

        <div class="imprimirBTN" id="imprimirBTN"></div>
        <div id="welcome">Registrar Avances</div>
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    <!--li>
        {#% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %#}
        <a href="{#% add_preserved_filters history_url %#}" class="historylink">{#% trans "History" %#}</a>
    </li !-->
    {% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}
{% for fieldset in adminform %}

    {% if fieldset.name == "Meta" %}
         <div class="captura_AVANCES">
            <div id="tituloCUADROS">
    			AVANCES DE LA ACCIÓN
	        </div>
    {% endif %}
  {% include "admin/djangoISSSTE/avancepormunicipio/fieldset.html" %}

{% endfor %}
{% endblock %}

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
     </div>
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{#   submit_row #}
     {%  if user.usuario.rol != 'FC' and user.usuario.rol != 'FE' %}
           <div class="guardarsalirBTN" onclick="document.getElementById('{{ opts.model_name }}_form').submit('_save');"></div>
           <input type="submit" value="" class="guardar_ContinuarB" name="_continue" />
           <input  class="guardarotroBTN"  type="submit" value="" name="_addanother" />
   {% endif %}
  <div class = "salirBTN" onclick="location.href='/admin';"></div>
{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript">
        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    var event = $.Event('django:add-another-related');
                    $(this).trigger(event);
                    if (!event.isDefaultPrevented()) {
                        showAddAnotherPopup(this);
                    }
                });

            {% if adminform and add %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}
            });
        })(django.jQuery);
    </script>
    <script src="{% static "assets/js/jquery.numeric.js"%}"></script>
    <script src="{% static "assets/js/utilerias.js"%}"></script>

{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}
