{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "assets/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

   <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static "assets/Popup/magnific-popup.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="{% static "assets/Popup/jquery.magnific-popup.js"%}"></script>
    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static "assets/Popup/site.css"%}">





    <script>
    var $pop = jQuery.noConflict();
        $pop( document ).ready(function() {
      $pop('#div-grafica').addClass("mfp-hide");
    });

    $pop('#tabla-exporta').hide();


    $pop(function () {
          $pop('.popup-modal').magnificPopup({
            type: 'inline',
            preloader: true,
            modal: true,
              fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
          });
          $pop(document).on('click', '.popup-modal-dismiss', function (e) {
            e.preventDefault();
            $pop.magnificPopup.close();
          });
          $pop('.popup-exporta').magnificPopup({
            type: 'inline',
            preloader: false,
            modal: true,
              fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
          });
          $pop(document).on('click', '.popup-exporta-dismiss', function (e) {
            e.preventDefault();
            $pop.magnificPopup.close();
          });

        });

	</script>

    <!--libs para exportar a excel, pdf y power point -->
    <script type="text/javascript" src="{% static "assets/export/tableExport.js"%}"></script>
	<script type="text/javascript" src="{% static "assets/export/jquery.base64.js"%}"></script>
	<script type="text/javascript" src="{% static "assets/export/html2canvas.js"%}"></script>
	<script type="text/javascript" src="{% static "assets/export/jspdf/libs/sprintf.js"%}"}></script>
	<script type="text/javascript" src="{% static "assets/export/jspdf/jspdf.js"%}"></script>
	<script type="text/javascript" src="{% static "assets/export/jspdf/libs/base64.js"%}"></script>
    <script type="text/javascript" src="{% static "assets/export/FileSaver.min.js"%}"></script>
    <script type="text/javascript" src="{% static "assets/js/jspdf.js"%}"></script>
    <script type="text/javascript" src="{% static "assets/js/jspdf.min.js"%}"></script>
    <script>
        function PDF () {
        var doc = new jsPDF();
        var specialElementHandlers = {
            '#editor': function (element, renderer) {
                return true;
            }
        };

        doc.fromHTML($('#datos').html(), 15, 15, {
            'width': 200,
                'elementHandlers': specialElementHandlers
        });
        doc.save('sample-file.pdf');
        }

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "assets/export/jquery.table2excel.js"%}"></script>
    <script>
    var et$ = jQuery.noConflict();
    et$(function() {
                    et$("#enviaEXCEL2").click(function(){

                    et$(".table2excel").table2excel({
                        exclude: ".noExl",
                        name: "Resultados"

                    });
                     });
    });
    </script>

     <script type="text/javascript" src="{% static "assets/js/ajax-listado-acciones.js"%}"></script>

{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
         $("#action-toggle").hide();
         $('.action-select').hide();
        $('.action-checkbox-column').hide();$('.action-checkbox').hide();
    });


})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<div id = "regresarBTN" onclick="window.history.go(-1);"></div>
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content %}
    <div id="tabla-exporta" >

    </div>
    <div id="modal-exporta" class="green-popup-block mfp-hide centerDiv"  style="width: 40%;">
        <div class="row" style="background:linear-gradient(#206341,#206341,#1E613F,#276947,#206341)  ;border: 2px solid #ffffff;">
            <div class="row exportarALERTA" style="padding-top: 15px;padding-left: 20px;width:100%"> EXPORTAR RESULTADOS </div>
            <div class="row textoEXPORTAR" style="padding-left: 20px;width:100%;padding-top: 15px;">Seleccionar el formato en el que se exportar&aacute;n los resultados. </div>
                    <div class="row " style="width: 60%;padding-top: 15px;margin-left: auto;margin-right: auto">
                        <div class="col-md-4" >
                            <article id="ver_datos">
                                {% csrf_token %}
                                <div class="pdf"  id="enviaPDF2" ></div>
                            </article>
                        </div>
                        <div class="col-md-4" >
                            <article id="ver_datos">
                                {% csrf_token %}
                                <!--<div class="excel" id="enviaEXCEL2" onClick ="$pp('#tabla-exporta2').show();$pp('#tablaExporta2').tableExport({type:'excel',escape:'false'}); $pp('#tabla-exporta2').hide();"></div>-->
                                <div class="excel" id="enviaEXCEL2"></div>
                            </article>
                        </div>
                        <div class="col-md-4" >
                            <article id="ver_datos">
                                {% csrf_token %}
                                <!--<div class="ppt"  id="enviaPPT2" onClick ="$pp('#tabla-exporta2').show();$pp('#tablaExporta2').tableExport({type:'powerpoint',escape:'false'}); $pp('#tabla-exporta2').hide();"></div>-->
                                <div class="ppt"  id="enviaPPT2"></div>

                            </article>
                        </div>
            </div>
            <div class="row" style="width: 60%;padding-top: 15px;margin-left: auto;margin-right: auto">
                <article id="salir_exporta">
                    {% csrf_token %}
                    <div class="salirBTNC popup-exporta-dismiss" id="salirExporta" style="height: 30px">
                    </div>
                </article>
            </div><br>
        </div>
    </div>

    <div id="welcome">Lista de Acciones</div>
  <div id="content-main">
    {% block object-tools %}

    {% endblock %}
    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      {% block filters %}
        {% if cl.has_filters %}
          <div id="changelist-filter">
            <h2>{% trans 'Filter' %}</h2>
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}

      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}

          <div class="col-md-2">
                <article id="ver_exporta">
                    {% csrf_token %}
                    <div class="col-xs-2 exportarBTN popup-exporta" href="#modal-exporta" id="exportar" style="height: 30px"></div>
                </article>
          </div>

          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}
           <div class="campopag" style="left: 5px; top: 491px; width: 880px; border-right:0px;">{% pagination cl %}</div>{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}
