{% load  admin_static app_filters%}
 <link rel="stylesheet" type="text/css" href="{% static "assets/css/restricted_styles.css" %}" />
<fieldset style="padding-top: 1px;">
    {% if fieldset.name %}{#  fieldset.name #}{% endif %}
    {% if fieldset.description %}
        <div class="description">{{ fieldset.description|safe }}</div>
    {% endif %}
    {% for line in fieldset %}
            {% for field in line %}

                {% if field.field.name == "periodo" %}
                    <div class= "general">
                        <div id="tituloCUADROS">
                            DATOS GENERALES
                        </div>
                         <table width="1022">
                            <tr>
                                <td width="140" height="23" class="txtlabel">
                                   Año:
                                </td>

                                <td width="200" height="23" class="related-widget-wrapper" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                     {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.field }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                </td>
                {% endif %}
                {% if field.field.name == "meta" %}
                                 <td width="140" height="23" class="txtlabel">
                                    Acción Estratégica:
                                 </td>

                                <td width="200" height="23" class="related-widget-wrapper" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                     {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.field }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                </td>
                {% endif %}
                {% if field.field.name == "estado" %}

                                <td width="140" height="23" class="txtlabel">
                                    Estado:
                                </td>

                                <td width="200" height="23" class="related-widget-wrapper" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="bottom"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                     {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.field }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                </td>
                    </tr>
                         </table>
                    </div>
                {% endif %}
                {% if field.field.name == "get_carencia" %}
                    <div class= "caracteristicas_ACCION">
   	                    <div id="tituloCUADROS">
    			            CARACTERÍSTICAS DE LA ACCIÓN
	                    </div>

                        <table width="1022" valign="top" style="text-align: left">
                            <tr>
                                <td width="140" height="45" class="txtlabel">
                                    Carencia:</td>

                                <td width="200" class="labelreadonly" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                    {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.contents }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                </td>
                {% endif %}
                {% if field.field.name == "get_unidad_medida" %}
                                <td width="140" class="txtlabel">
                                    Unidad de Medida:</td>

                                <td width="200" class="labelreadonly" style="padding-right: 20px" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                     {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.contents }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                </td>
                    <td width="170" class="txtlabel">
                                    OBSERVACIONES:</td>
                    <td width="170">
                                    </td>
                {% endif %}
                {% if field.field.name == "get_subcarencia" %}
                        <tr>
                            <td width="140" height="45" class="txtlabel">
                               Sub Carencia:</td>

                            <td width="200" class="labelreadonly" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                     {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.contents }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                            </td>

                {% endif %}
                {% if field.field.name == "get_inversion" %}
                        <td width="140" class="txtlabel">
                            Inversión Aprox.:</td>

                        <td width="200" class="labelreadonly" style="padding-top: 5px" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                     {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.contents|formatoNumero }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                        </td>



                {% endif %}
                 {% if field.field.name == "get_observaciones" %}
                                <td width="170" rowspan="2" colspan="2" class="labelreadonly" id="tr-{{ field.field.name}}" data-toggle="tooltip" data-placement="right"  title="{% for error in field.field.errors %}{{ error }}{% endfor %}">
                                    <table valign="top"><tr><td>
                                        <div style="overflow: scroll; height:70px; top: 44px;position: absolute;"> {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.contents }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                    </div>
                                    </td></tr></table>
                                </td>
                            </tr>
                     </table>

                {% endif %}


                {% if field.field.name == "get_monto_promedio" %}
                                    <div class="txtlabel" style="overflow: hidden;  height:20px; top: 97px;left:339px;position: absolute;">

                                        Monto  Promedio: </div>

                     <div class="labelreadonly" style="overflow: hidden; height:20px; top: 97px;left:479px;position: absolute;">

                                        {% if field.field.errors %}
                                         {{ field.field|addcss:"border-error" }}
                                       {% else %}
                                          {{ field.contents|formatoNumero }}
                                       {% endif %}
                                <script type="text/javascript" src="{% static 'assets/bootstrap/js/bootstrap.js' %}"></script>
                                <script> $(document).ready(function($) {
                                    var $te = jQuery.noConflict();
                                    $te('#tr-{{ field.field.name}}').tooltip({html:true});});</script>
                                    </div>

                {% endif %}



                {% if field.field.name == "get_enero" %}


                          <table class="subtituloTABLA" valign="top" style="text-align: center;margin-left: 4px" width="990px">
                             <tr>
                                <td width="107">Meta Estatal:</td>
                                <td width="74">Ene</td>
                                <td width="74">Feb</td>
                                <td width="74">Mar</td>
                                <td width="74">Abr</td>
                                <td width="74">May</td>
                                <td width="74">Jun</td>
                                <td width="74">Jul</td>
                                <td width="74">Ago</td>
                                <td width="74">Sep</td>
                                <td width="74">Oct</td>
                                <td width="74">Nov</td>
                                <td width="74">Dic</td>
                             </tr>
                             <tr valign="top">
                                <td width="100">
                                          &nbsp;
                                </td>
                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                {% if field.field.name == "get_febrero" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_marzo" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}
                 {% if field.field.name == "get_abril" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}
                 {% if field.field.name == "get_mayo" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_junio" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_julio" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_agosto" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_septiembre" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_octubre" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_noviembre" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>

                {% endif %}

                 {% if field.field.name == "get_diciembre" %}

                                <td width="59" class="labelreadonly">
                                          {{ field.contents }}
                                </td>
                        </tr>
                     </table>
                 </div>
                {% endif %}

            {% endfor %}

    {% endfor %}


</fieldset>
