
{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}

    <link href="{% static "css/menu.css" %}" rel="stylesheet">
{% endblock %}
{% block breadcrumbs %}
{% endblock %}

{% block content %}

	<div id="regresarBTN" onclick="window.history.go(-1);">
    </div>

  <div id="welcome">
        A Y U D A
  </div>
  <div>
      <div class="ayudaTXT" onclick="location.href='/manuales-Pdf'">
      </div>

      <div class="ayudaVIDEO" onclick="location.href='/videos'">
      </div>

      <div style="text-align: center; margin-top: 35%">
        Dudas y ayuda sobre el Sistema: Ing. Alejandro G&oacute;mez <br>
          Tel&eacute;fono:(722) 372-4044 <br>
          Correo electr&oacute;nico: agomezsanchez27@gmail.com
      </div>

  </div>



{% endblock %}